img{
	width:100%;
}
.wrap{
	width:100%;
	height:auto;
	position: absolute;
	top:100px;
	left:0;
}
.banner{
	width:100%;
	height:700px;
	background:url(images/9.jpg) no-repeat center;
	background-size:100%;
}
.banner h1{
	width:100%;
	height:100px;
	font-weight:bold;
	
	color:#fff;
	font-size: 50px;
	line-height: 100px;
	text-align: center;
}
.myself{
	width:100%;
	height:300px;
}
.myself1{
	width:1200px;
	height:300px;
	margin:0 auto;
	margin-top: 200px;
}
.myname{
	width:60%;
	height:200px;
	color:#fff;
	background: rgba(96,156,208,0.5);
	font-size:36px;
	line-height: 200px;
	text-align: center
}
.passages{
	width:60%;
	height:50px;
	background: #000;
	margin-top:20px;
	color:#fff;
	line-height:50px;
	text-align: center;
	font-size:23px;
	background:rgba(106,131,157,0.5);
}
.skills{
	width:100%;
	height:600px;
	background:rgb(255,201,7);
}
.skills1{
	width:1200px;
	height:600px;
	margin: 0 auto;
}
.skillsTile{
	width:100%;
	height:200px;
	color:#fff;
	font-size: 36px;
	text-align: center;
	position: relative;
}
.skillsTile>span{
	display: block;
	width:100%;
	height:170px;
	line-height: 170px;
}
.skillsTile>div{
	display: block;
	width:32px;
	height:26px;
	position: absolute;
	top:0;
	left:50%;
	margin-left: -16px;
}
.skillsTile>div>a{
	display: block;
	width: 100%;
	height:100%;

}
.skillsMain{
	width:100%;
	height:400px;
	
}
.leftBar{
	width:47%;
	height:400px;
	float: left;
}
div.leftBar:last-child{
	float: right;

}
.leftBar>ul{
	width:100%;
	height:300px;
}
.leftBar>ul>li{
	width:100%;
	height:70px;
}
.leftBar>ul>li>span{
	width:100%;
	height:50px;
	line-height: 50px;
	font-size: 23px;
	color:#fff;
	display: block
}
.leftBar>ul>li>div{
	width:100%;
	height:20px;
	background: #fff;
	border-radius: 5px;
}
.leftBar>ul>li>div>span{
	width:90%;
	height:20px;
	background: rgb(27,36,47);
	content:"";
	display: block;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.leftBar:first-child>ul>li:first-child>div>span{
	width:0%;
	height:20px;
	background: rgb(27,36,47);
	content:"";
	display: block;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	
}
.leftBar:first-child>ul>li:nth-child(2)>div>span{
	width:0%;
	height:20px;
	background: rgb(27,36,47);
	content:"";
	display: block;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	/*animation:change12 3s;
	animation-fill-mode:forwards;*/
}
.leftBar:first-child>ul>li:nth-child(3)>div>span{
	width:0%;
	height:20px;
	background: rgb(27,36,47);
	content:"";
	display: block;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	/*animation:change13 3s;
	animation-fill-mode:forwards;*/
}
.leftBar:first-child>ul>li:nth-child(4)>div>span{
	width:0%;
	height:20px;
	background: rgb(27,36,47);
	content:"";
	display: block;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	/*animation:change14 3s;
	animation-fill-mode:forwards;*/
}
.leftBar:nth-child(2)>ul>li:first-child>div>span{
	width:90%;
	height:20px;
	background: rgb(27,36,47);
	content:"";
	display: block;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	/*animation:change21 3s;
	animation-fill-mode:forwards;*/
}
.leftBar:nth-child(2)>ul>li:nth-child(2)>div>span{
	width:88%;
	height:20px;
	background: rgb(27,36,47);
	content:"";
	display: block;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	/*animation:change22 3s;
	animation-fill-mode:forwards;*/
}
.leftBar:nth-child(2)>ul>li:nth-child(3)>div>span{
	width:86%;
	height:20px;
	background: rgb(27,36,47);
	content:"";
	display: block;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	/*animation:change23 3s;
	animation-fill-mode:forwards;*/
}
.leftBar:nth-child(2)>ul>li:nth-child(4)>div>span{
	width:80%;
	height:20px;
	background: rgb(27,36,47);
	content:"";
	display: block;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	/*animation:change24 3s;
	animation-fill-mode:forwards;*/
}
.services{
	width:100%;
	height:700px;
	background:rgb(224,93,111);
}
.services1{
	width:1200px;
	height:700px;
	margin:0 auto;
}
.servicesTile{
	width:100%;
	height:200px;
	line-height: 200px;
	text-align: center;
	color:#fff;
	font-size: 36px;
}
.services1>ul{
	width:100%;
	height:250px;
	display: flex;
	justify-content:space-around;
}
.services1>ul>li{
	width:30%;
	height:300px;
}
.services1>ul>li>div{
	width:80px;
	height:80px;
	border: 1px solid #fff;
	border-radius: 50%;
	margin:0 auto;
	background: url(images/spr.png) no-repeat 14px 20px;
	background-size:70%;
}
.services1>ul>li>h2{
	color:#fff;
	text-align: center;
	width:100%;
	height:50px;
	line-height: 50px;
	font-size: 23px;
}
.services1>ul>li>p{
	width:100%;
	height:180px;
	text-align: center;
	color:#fff;
	font-size: 14px;
	line-height: 25px;
}
.portfolio{
	width:100%;
	height:700px;
	background:rgb(65,139,202);
}
.portfolio1{
	width:1200px;
	height:700px;
	margin:0 auto;
}
.portfolio1Tile,.clients1Tile{
	width:100%;
	height:200px;
	line-height: 200px;
	color:#fff;
	text-align: center;
	font-size: 36px;
}
.portfolioMain{
	width:100%;
	height:500px;
}
.portfolioMain>ul{
	width:100%;
	height:205px;
}
.portfolioMain>ul{
	display: flex;
	justify-content:space-around;
}
.portfolioMain>ul>li{
	width:24%;
	height:205px;
	position: relative;
}
.portfolioMain>ul>li:hover{

}
.clients{
	width:100%;
	height:300px;
	background: rgb(63,78,97)
}
.clients1{
	width:1200px;
	height: 300px;
	margin:0 auto;
}
.clients1Main{
	width:100%;
	height:100px;
	display: flex;
	justify-content:space-around;
}
.clients1Main>a{
	display: block;
	width:13%;
}
.contact{
	width:100%;
	height:700px;
	background: rgb(23,160,134);
}
.contact1{
	width:1200px;
	height:700px;
	margin:0 auto;
}
.contact1Tile{
	width:100%;
	height:200px;
	line-height: 200px;
	color:#fff;
	font-size: 36px;
	text-align: center;
}
.black{
	width:200px;
	height:200px;
	background: #000;
	margin:0 auto;
}
.messages{
	width:100%;
	height:250px;
	display: flex;
	justify-content:space-around;
	margin-top: 50px;
}
.messages div{
	width:48%;
	height:250px;
	
}
input{
	box-sizing:border-box;
	width:100%;
	height:50px;
	background: #fff;
	border: none;
	padding-left:10px;
	margin-bottom: 10px;
}
textarea{
	width:100%;
	height:100px;
	box-sizing:border-box;
	padding-left:10px;
	padding-top: 10px;
}
.messages>div>a{
	display: block;
	width:100px;
	height:40px;
	background:rgb(63,78,97);
	text-align: center;
	color:#fff;
	line-height: 40px;
	font-size: 14px;
	margin-top:20px;
}
.black1{
	width:160px;
	height:160px;
	margin:0px auto;
}
.lianjie{
	width:100%;
	height:32px;
}
.lianjie>a{
	display: block;
	width:32px;
	height:32px;
	float: left;
	margin-right: 10px;
	background:#fff;
}
.lianjie>a:first-child{
	background: url(images/img-sprite.png) no-repeat -116px 0px;
}
.lianjie>a:nth-child(2){
	background: url(images/img-sprite.png) no-repeat 0px 0px;
}
.lianjie>a:nth-child(3){
	background: url(images/img-sprite.png) no-repeat -38px 0px;
}
.lianjie>a:nth-child(4){
	background: url(images/img-sprite.png) no-repeat -78px 0px;
	margin-right: 0px;
}
.black1>div:first-child{
	width:100%;
	height:125px;
	padding-top: 30px;
}
.black1>div>ul>li{
	width:100%;
	height:40px;
}
.black1>div>ul>li>span{
	float: left;
}
.black1>div>ul>li>span:last-child{
	width:130px;
	height:40px;
	line-height: 40px;
	color:#fff;
	font-size: 12px;
	margin-left: 10px
}
.black1>div>ul>li:first-child>span:first-child{
	display: block;
	width:14px;
	height:20px;
	background: url(images/spr.png) no-repeat -8px -5px;
	margin-top: 10px;
}
.black1>div>ul>li:nth-child(2)>span:first-child{
	display: block;
	width:16px;
	height:20px;
	background: url(images/spr.png) no-repeat -7px -29px;
	margin-top: 10px;
}
.black1>div>ul>li:nth-child(3)>span:first-child{
	display: block;
	width:18px;
	height:14px;
	background: url(images/spr.png) no-repeat -5px -68px;
	margin-top: 10px;
}
.lianjie>a:first-child:hover{
	background: url(images/img-sprite.png) no-repeat -116px -44px;
}
.lianjie>a:nth-child(2):hover{
	background: url(images/img-sprite.png) no-repeat 0px -44px;
}
.lianjie>a:nth-child(3):hover{
	background: url(images/img-sprite.png) no-repeat -38px -44px;
}
.lianjie>a:nth-child(4):hover{
	background: url(images/img-sprite.png) no-repeat -78px -44px;
	margin-right: 0px;
}
.dingbu{
	width:30px;
	height:30px;
	position: absolute;
	bottom:0;
	right:0;
}
@keyframes change11{
	1%{
		width:0%;
	}
	100%{
		width:90%;
	}
}

@keyframes change12{
	1%{
		width:0%;
	}
	100%{
		width:88%;
	}
}
@keyframes change13{
	1%{
		width:0%;
	}
	100%{
		width:86%;
	}
}
@keyframes change14{
	1%{
		width:0%;
	}
	100%{
		width:50%;
	}
}
@keyframes change21{
	1%{
		width:0%;
	}
	100%{
		width:90%;
	}
}

@keyframes change22{
	1%{
		width:0%;
	}
	100%{
		width:88%;
	}
}
@keyframes change23{
	1%{
		width:0%;
	}
	100%{
		width:86%;
	}
}
@keyframes change24{
	1%{
		width:0%;
	}
	100%{
		width:50%;
	}
}
